* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-shadow: 1px 1px 15px #000000;
	font-family: 'Raleway', sans-serif;
	background: 
	linear-gradient(
		rgba(17, 126, 112, 0.75),
		rgba(0, 88, 255, 0.45)
	),
	url(../images/background3.jpg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}


.container {
	display: flex;
	align-items: center;
	width: 75%;
}

.overview {
	padding: 3rem;
}

.fullname {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
	animation: myname 3s infinite;
}
@keyframes myname {
	from {color: #000; }
	to {color: #ffc107;;}
}

.job-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
	
}

a {
	color: #9af1fc;
	text-decoration: none;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	color: #ffc107;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.works img:hover {
	transform: scale(1.5);
	transition: 1s;
	cursor: zoom-in;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;

}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
	background: linear-gradient(90deg, #000, #fff, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

a:hover {
	color: #000;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

@media (max-width: 980px) {
.container {
flex-direction: column;
}

.image-container {
	width: 100%;
	padding: 3rem 0 0;
}

.overview {
	order: 1;
	padding: 3rem 0;
}

main {
background:
   /* top, transparent #9C27B0 */      
   linear-gradient(
    rgba(0, 255, 222, 0.45),
    rgba(0, 88, 255, 0.45)
   ),      
   /* bottom, image */      
   url(../images/background1.jpeg);
}

.fullname,
.job-title {
	text-align: center;
}

.job-title {
	font-weight: bolder;
}

.description {
	text-align: center;
}

hr {
	margin: auto;
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-top: 3rem;
}

.ad {
text-align: center;
}

.works {
text-align: center;
}





